@model IEnumerable<jk760216_MIS4200.Models.Appointments>

@{
    ViewBag.Title = "Appointment Bookings";
}

<h2>Appointment Bookings</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Doctor.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AppointmentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AppointmentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AppointmentID })
        </td>
    </tr>
}

</table>
